@model IEnumerable<MVCBarApplication.Models.Orders>

@{
    ViewBag.Title = "OrderQueue";
}

<h2>Order Queue</h2>


<p>
    @Html.ActionLink("Clear Queue", "clearQueue")
</p>
<table class="table">
    <tr>
        <th>
            Drink ID
        </th>
        <th>
            Drink Name
        </th>
        <th>
            Order Time
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        
        <td>
            @Html.ActionLink("Remove", "Edit", new { id=item.OrderID }) 
            
        </td>
    </tr>
}

</table>
